<html>
	<body>
		<center>
		<form action="login" method="post">
			<input name="username" type="text">
			<input name="password" type="password">
			<input type="submit"> 
		</form>
		</center>
	</body>
</html>